<%- include("partials/header"); -%>
<body>
	<h1>Uploaded Images</h1>
		<% items.forEach(async function(item) { %>
						<img src="<%= item.filename %>"" height="300px" width="300px" async="true">
		<% }) %>
	<%- include("partials/footer"); %>


