<!DOCTYPE>
<html>
<head>
  <link href="/css/EditPage.css" rel="stylesheet" type="text/css">
  <title>COM'E'IT</title>
  </head>
<body>

<center>
  <h1>Result Form</h1></br>
  <form class="Edit" action="/UploadResult" method="post" enctype="multipart/form-data">
    <input type="file" name="pics" id="formFile">
    <br>
    <br>
    <input type="text" name="name" placeholder="Student Name">
    <br>
    <br>
    <input type="text" name="post" placeholder="Rank">
    <br>
    <br>
    <input type="text" name="competition" placeholder="Competition Name">
    <br>
    <br>
    <button type="submit" class="button1" id="btn" name="update">Upload</button>

  </form>
  </center>
</body>
</html>
