<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Poll</h1>
    <form class="" action="/pollForm" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="pollTopic">

        <label>Option1</label>
        <input class="form-control" type="text" name="pollOption1">

        <label>Option2</label>
        <input class="form-control" type="text" name="pollOption2">

        <label>Option3</label>
        <input class="form-control" type="text" name="pollOption3">

        <label>Option4</label>
        <input class="form-control" type="text" name="pollOption4">

      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>
  </body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>COM'E'IT</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/pollForm.css">
</head>
<body>
<section class"form1">
<h1> <center>
  Poll Form
</center></h1>
<div class="container">
  <form action="/pollForm" method="post">
    <div class="row">
      <div class="col-25">
        <label for="fname">Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="pollTopic"  required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Option 1</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="pollOption1" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Option 2</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="pollOption2"  required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Option 3</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="pollOption3" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Option 4</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="pollOption4" required>
      </div>
    </div>

    <br />
    <div class="row">
      <center>
        <input type="submit" class="button" name="button" value="Publish">
    </center>    
    </div>
  </form>
</div>
</section>
</body>
</html>
