<!DOCTYPE>
<html>
<head>
  <style>
    .button1 {
    background-color: #04AA6D; /* Green */
    border-radius: 5px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .edit{
    padding: 40px;
    margin-top: 90px;
  }
  input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  </style>


  </head>
<body>
<center>
  <h1>Representative Form</h1>
  <form class="edit" action="<%=path%>" method="post" enctype="multipart/form-data" style="width:30%;background-color:pink;border:1px solid black;">
    <input type="file" name="pics" id="formFile">
    <br>
    <br>
    <input type="text" name="name" placeholder="Name">
    <br>
    <br>
    <input type="text" name="post" placeholder="Post">
    <br>
    <br>
    <input type="email" name="email" placeholder="Email">
    <br>
    <br>
    <input type="number" name="mobile" placeholder="Mobile No.">
    <br>
    <br>
    <button type="submit" class="button1" name="button" value="Upload Representative">Upload</button>

  </form>

</center>

</body>
</html>
